<mat-toolbar color="primary">
    <span>
        <mat-icon class="example-icon" routerLink="/welcome">home</mat-icon>
    </span>
    <span *ngIf="selectedLeague !== undefined" routerLink="/league/{{selectedLeague.id}}">{{selectedLeague.name}}</span>
    <!--span>
        League:
        <mat-form-field>
            <mat-select>
                <mat-option *ngFor="let league of leagues" [value]="league.id">
                {{ league.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </span-->
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>
    
    <span routerLink="/admin">Admin</span>

    <span>
        <mat-icon class="example-icon" routerLink="/account">account_circle</mat-icon>
    </span>
</mat-toolbar>
<router-outlet></router-outlet>