@import '~bootstrap/dist/css/bootstrap.min.css';

.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

.example-icon {
    padding: 0 14px;
    margin-right: 20px;
  }
  
.example-spacer {
    flex: 1 1 auto;
 }