<div>
    <input class="form-control-date-picker" matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a game">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
</div>
  
<h3>Regular Players</h3>
<mat-table #table [dataSource]="playerDataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastname}}, {{element.firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Available? </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.available}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="inviteStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Invite Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.inviteStatus}} </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>check_box</mat-icon>
              <span>Select All</span>
            </button>
            <button mat-menu-item>
              <mat-icon>email</mat-icon>
              <span>Send Invitation</span>
            </button>
          </mat-menu>            
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="custom-cell-checkbox">
                <input type="checkbox" class="custom-checkbox" *ngIf='element.available'/> 
            </span>
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="playerDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: playerDisplayedColumns;"></mat-row>
</mat-table>              

<h3>Spare Players</h3>
<mat-table #table2 [dataSource]="spareDataSource" matSort>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.lastname}}, {{element.firstname}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.position}} </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="available">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Available? </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.available}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="inviteStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Invite Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.inviteStatus}} </mat-cell>
    </ng-container>
      
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef>
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>check_box</mat-icon>
              <span>Select All</span>
            </button>
            <button mat-menu-item>
              <mat-icon>email</mat-icon>
              <span>Send Invitation</span>
            </button>
          </mat-menu>            
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span class="custom-cell-checkbox">
                <input type="checkbox" class="custom-checkbox" *ngIf='element.available'/> 
            </span> 
        </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="spareDisplayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: spareDisplayedColumns;"></mat-row>
</mat-table>              
