@import '~bootstrap/dist/css/bootstrap.min.css';

.example-card {
    max-width: 400px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
    opacity: 0;
}

::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
    transform: rotate(-45deg);
}
::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
    transform: rotate(45deg);
}

.custom-checkbox {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    padding: 1px 6px
}

.custom-button {
    min-height: 30px;
    padding: 6px
}

.custom-cell-checkbox {
    padding-left: 10px;
}

.notification-icon {
    margin-left: 15px;
  }

