<!--div class="row">
  <div class="col-sm-3"-->
    <mat-card>
        <mat-card-title>Create a new league</mat-card-title>
        <mat-card-content>
            <form name="form" (ngSubmit)="f.form.valid && createLeague()" #f="ngForm" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !leagueName.valid }">
                    <label for="leagueName">League Name</label>
                    <div><input type="text" class="form-control-date-picker" name="leagueName" [(ngModel)]="model.leagueName" #leagueName="ngModel" required /></div>
                    <div *ngIf="f.submitted && !leagueName.valid" class="help-block">League Name is required</div>
                </div>
                <div class="form-group">
                    <button [disabled]="loading" class="btn btn-primary">Create</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>    
            </form>
        </mat-card-content>
    </mat-card>
  <!--/div>
  <div class="col-sm-3"-->
    <mat-card>
        <mat-card-title>Create a sequence of games</mat-card-title>
        <form name="form2" (ngSubmit)="f2.form.valid && createGames()" #f2="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !leagueId.valid }">
                <label for="leagueId">League</label>
                <div>
                    <select class="form-control-date-picker" name="leagueId" [(ngModel)]="gameModel.leagueId" #leagueId="ngModel" required>
                        <option selected="true" data-hidden="true">Choose a league...</option>
                        <option *ngFor="let league of leagues" [value]="league.id">
                            {{ league.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf="f2.submitted && !leagueId.valid" class="help-block">League is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !startDate.valid }">
                <label for="startDate">Start Date</label>
                <div>
                    <input matInput [matDatepicker]="picker" placeholder="" class="form-control-date-picker" name="startDate" [(ngModel)]="gameModel.startDate" #startDate="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                </div>
                <div *ngIf="f2.submitted && !startDate.valid" class="help-block">Start date is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !numberOfGame.valid }">
                <label for="numberOfGame">Number of games</label>
                <div><input type="text" class="form-control-date-picker" name="numberOfGame" [(ngModel)]="gameModel.numberOfGame" #numberOfGame="ngModel" required /></div>
                <div *ngIf="f2.submitted && !numberOfGame.valid" class="help-block">Number of games is required</div>
            </div>
            <div class="form-group">
            <button [disabled]="gameLoading" class="btn btn-primary">Create</button>
                <img *ngIf="gameLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>    
        </form>
    </mat-card>
    <!--/div>
</div-->
