<!--div class="row">
  <div class="col-sm-3"-->
<mat-accordion class="container">
    <div class="row">
    <mat-expansion-panel class="col-sm-4">
        <mat-expansion-panel-header>
            <mat-panel-title>Create a new league</mat-panel-title>
        </mat-expansion-panel-header>
        <form name="form" (ngSubmit)="f.form.valid && createLeague()" #f="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !leagueName.valid }">
                <label for="leagueName">League Name</label>
                <div><input type="text" class="form-control-date-picker" name="leagueName" [(ngModel)]="model.leagueName" #leagueName="ngModel" required /></div>
                <div *ngIf="f.submitted && !leagueName.valid" class="help-block">League Name is required</div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">Create</button>
                <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>    
        </form>
    </mat-expansion-panel>
    <mat-expansion-panel class="col-sm-4">
        <mat-expansion-panel-header>
            <mat-panel-title>Delete an existing league</mat-panel-title>
        </mat-expansion-panel-header>
        <form name="form3" (ngSubmit)="f3.form.valid && deleteLeague()" #f3="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f3.submitted && !deleteLeagueId.valid }">
                <label for="deleteLeagueId">League</label>
                <div>
                    <select class="form-control-date-picker" name="deleteLeagueId" [(ngModel)]="deleteModel.leagueId" #deleteLeagueId="ngModel" required>
                        <option selected>Choose a league...</option>
                        <option *ngFor="let league of allLeagues" [value]="league.id">
                            {{ league.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf="f3.submitted && !deleteLeagueId.valid" class="help-block">League is required</div>
            </div>
            <div class="form-group">
                    <button [disabled]="deleteLoading" class="btn btn-primary">Delete</button>
                        <img *ngIf="deleteLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>    
        </form>                
    </mat-expansion-panel>
    </div>
    <div class="row">
    <mat-expansion-panel class="col-sm-4">
        <mat-expansion-panel-header>
            <mat-panel-title>Create a sequence of games</mat-panel-title>
        </mat-expansion-panel-header>
        <form name="form2" (ngSubmit)="f2.form.valid && createGames()" #f2="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !leagueId.valid }">
                <label for="leagueId">League</label>
                <div>
                    <select class="form-control-date-picker" name="leagueId" [(ngModel)]="gameModel.leagueId" #leagueId="ngModel" required>
                        <option selected>Choose a league...</option>
                        <option *ngFor="let league of leagues" [value]="league.id">
                            {{ league.name }}
                        </option>
                    </select>
                </div>
                <div *ngIf="f2.submitted && !leagueId.valid" class="help-block">League is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !startDate.valid }">
                <label for="startDate">Start Date</label>
                <div>
                    <input matInput [matDatepicker]="picker" placeholder="" class="form-control-date-picker" name="startDate" [(ngModel)]="gameModel.startDate" #startDate="ngModel" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
                </div>
                <div *ngIf="f2.submitted && !startDate.valid" class="help-block">Start date is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': f2.submitted && !numberOfGame.valid }">
                <label for="numberOfGame">Number of games</label>
                <div><input type="text" class="form-control-date-picker" name="numberOfGame" [(ngModel)]="gameModel.numberOfGames" #numberOfGame="ngModel" required /></div>
                <div *ngIf="f2.submitted && !numberOfGame.valid" class="help-block">Number of games is required</div>
            </div>
            <div class="form-group">
            <button [disabled]="gameLoading" class="btn btn-primary">Create</button>
                <img *ngIf="gameLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </div>    
        </form>
    </mat-expansion-panel>    
    <mat-expansion-panel class="col-sm-4">
        <mat-expansion-panel-header>
            <mat-panel-title>Delete a game</mat-panel-title>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
    </div>
    <div class="row">
    <mat-expansion-panel class="col-sm-8 panel-extra-padding">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Requests to join the league
                <mat-icon *ngIf="leagueRequests.length > 0" class="notification-icon">notifications_active</mat-icon>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-table #table [dataSource]="requestsDataSource" matSort>
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.player.lastName}}, {{element.player.firstName}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.player.email}} </mat-cell>
            </ng-container>    
            <ng-container matColumnDef="position">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.player.position}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="subscription">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Subscription </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.subscription}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="button">
                <mat-header-cell *matHeaderCellDef>
                </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button type="button" (click)="acceptRequest(element)">Accept</button> 
                    <button type="button" (click)="refuseRequest(element)">Refuse</button> 
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="requestsDisplayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: requestsDisplayedColumns;"></mat-row>
        </mat-table>                
    </mat-expansion-panel>
    </div>
</mat-accordion>    
